.contact {
	&-content {
		display: flex;
		flex-direction: row;
	}
	&-content__right {
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		background-image: url('/images/bg-form.jpg');
		background-repeat: no-repeat;
		background-size: cover;
  		width: 1100px;
  		height: 648px;
	}
	&-content__right-form-head {
		display: inline-flex;
		flex-direction: column;
	}
	&-content__right-form-block {
		min-width: rem(395px);
		min-height: rem(55px);
		background: none;
		margin-bottom: rem(25px);
		border: 1px solid $border-form;
		opacity: 0.7;
		color: $form-style;
	}
	&-content__right-form-head--message {
		background: none;
		color: $form-style;
		min-width: rem(410px);
		max-width: rem(410px);
	}
	&-content__right-form-name-txt {
		padding-right: rem(10px);
		color: $form-style;
		font-family: 'Montserrat';
		font-size: rem(16px);
		font-weight: 400;
	}
	&-content__right-form-name-mess {
		align-items: center;
		display: flex;
	}
	&-content__right-form-desc {
		padding-top: rem(30px);
		justify-content: flex-end;
		display: flex;
	}
	&-content__right-form-desc-button {
		background: none;
		border: 1px solid $border-form;
		color: $form-style;
		padding: rem(18px) rem(36px);
		border-radius: 5px;
		&:hover {
			background-color: $font-price-section;
			border: 1px solid $font-price-section;
		}
	}
}

.contact-content__left-map-mobile {
	display: none;
}

.contact-content__right-form-name-txt-mess-mobile, .contact-content__right-form-name-txt-mobile {
	display: none;
}

.form_inputs:focus {
 	outline-color: #91DEFF;
 	opacity: 0.7;
	outline-width: 1px;
	outline-style: solid;
	border: none;
} 

.form_inputs::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.form_inputs::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.form_inputs:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.form_inputs:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.form_inputs:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form_inputs:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form_inputs:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form_inputs:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
.form_inputs::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.form_inputs::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.form_inputs:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.form_inputs:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.form_inputs:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.form_inputs:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.form_inputs:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.form_inputs:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}