$lighter-color-head: lighten($font-head-style, 20%);
.header {
	display: flex;
  	display: -ms-flexbox;
  	background-image: url('/images/bg-header.png');
  	min-height: rem(700px);
  	height: 100vh;
  	background-size: cover;
  	background-position: center;
	&__tittle {
		width: 100%;
		height: rem(751px);
		flex-direction: column;
		justify-content: center;
    	align-items: center;
    	text-align: center;
    	margin: 0 auto;
    	position: relative;
    	display: flex;
		&-top {
			font-family: 'Montserrat';
			font-size: rem(36px);
			font-weight: 700;
		}
		&-middle {
			font-family: 'Open Sans';
			font-size: rem(18px);
			padding-bottom: rem(30px);
			font-weight: 300;
			line-height: rem(25px);
		}
	}
	&-txt {
		color: $font-head-style;
	}

	&-top__left {
		padding-top: rem(40px);
		justify-content: flex-start;
	}

	&-top__right {
		justify-content: flex-end;
		float: right;
	}
	&__tittle-bottom-btn {
		font-family: 'Montserrat';
		font-size: rem(16px);
		font-weight: 700;
		margin-top: rem(35px);padding: rem(15px) rem(25px);
		border: 1px solid #f2f2f2;
		border-radius: rem(50px);
		&:hover {
			background-color: #fff;
			color: black;
		}
	}
	&-bottom__arrow {
		display: flex;
		justify-content: center;
		font-size: rem(37px);
	}
}
.fa-angle-down {
	color: #fff;
	border: 1px solid #f2f2f2;
	padding: rem(15px) rem(20px);
	border-radius: 100%;
	overflow: hidden;
	&:hover, &:active {
			background-color: #fff;
			color: black;
	}
}

.mm-listitem {
	&:hover, &:active {
		color: $lighter-color-head;
	}
}

.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
	background-color: #fff !important;
}