.works-content__item-tittle-bottom {
  padding-top: rem(25px);
}



// /*********       Hover on Image      *********/


.works-content__list {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: auto;
list-style-type: none;
margin: 0px;
padding: 0px;
}
.works-content__list .works-content__item {
padding: 0px;
position: relative;
overflow: hidden;
}
.works-content__list .works-content__item:hover .works-content__item-tittle {
opacity: 1;
}
.works-content__list .works-content__item-pic {
margin: 0px;
padding: 0px;
float: left;
z-index: 4;
}
.works-content__list .works-content__item-tittle {
cursor: pointer;
position: absolute;
opacity: 0;
-webkit-transition: all 0.45s ease-in-out;
-moz-transition: all 0.45s ease-in-out;
-o-transition: all 0.45s ease-in-out;
-ms-transition: all 0.45s ease-in-out;
transition: all 0.45s ease-in-out;
}
.works-content__list .works-content__item-tittle {
background-color: rgba(0,0,0,0.65);
height: 200px;
width: 321px;
z-index: 5;
position: absolute;
}
.works-content__list .works-content__item-tittle-txt .works-content__item-tittle-top {
text-transform: uppercase;
font-size: 24px;
}
.works-content__list .works-content__item-tittle-txt {
z-index: 10;
color: #fff;
position: absolute;
width: 321px;
height: 200px;
text-align: center;
top: 80px;
}

// .works-content__item {
//   opacity: .99;
//   overflow: hidden;
//   position: relative;
//   border-radius: 3px;
//   cursor: pointer;
// }
// .works-content__item:before {
//   content: '';
//   background: rgba(206, 105, 90, 0.8);
//   background: rgba(206, 105, 90, 0.8);
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   position: absolute;
//   left: 0;
//   z-index: 2;
//   -webkit-transition-property: top, opacity;
//   transition-property: top, opacity;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
// }
// .works-content__item .works-content__item-pic {
//   display: block;
//   width: auto; /* ширина картинки */
//   height: auto; /* высота картинки */
//   backface-visibility: hidden;
//   -webkit-backface-visibility: hidden;
// }
// .works-content__item .works-content__item-tittle {
//   width: 100%;
//   color: #fff;
//   position: absolute;
//   z-index: 3;
//   text-align: center;
// }
// .works-content__item .works-content__item-tittle .works-content__item-tittle-txt {
//   display: block;
//   opacity: 0;
//   position: relative;
//   top: 100px;
//   -webkit-transition-property: top, opacity;
//   transition-property: top, opacity;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-delay: 0s;
//   transition-delay: 0s;
// }
// .works-content__item .works-content__item-tittle .works-content__item-tittle-top {
//   line-height: 1;
//   font-weight: normal;
//   font-size: 18px;
// }
// .works-content__item .works-content__item-tittle .works-content__item-tittle-middle, .works-content__item-tittle-bottom {
//   line-height: 1.2;
//   margin-top: 5px;
//   font-size: 12px;
// }
// .works-content__item:focus:before,
// .works-content__item:focus .works-content__item-text, .works__item:hover:before,
// .works-content__item:hover .works-content__item-text {
//   opacity: 1;
// }

// .works-content__item:focus .works-content__item-txt, .works-content__item:hover .works-content__item-tittle-txt {
//   top: 0;
// }
// .works-content__item:focus .works-content__item-tittle-top, .works-content__item:hover .works-content__item-tittle-top {
//   -webkit-transition-delay: 0.15s;
//           transition-delay: 0.15s;
// }
// .works-content__item:focus .works-content__item-tittle-middle, .works-content__item-tittle-bottom, .works-content__item:hover {
//   -webkit-transition-delay: 0.25s;
//           transition-delay: 0.25s;
// }