.works-content {
  width: 100%;
  padding-top: rem(60px);
  &__item-tittle-bottom {
    padding-top: rem(25px);
  }

  &__item-tittle-top {
    font-size: rem(25px);
    color: #c0301c !important;
    font-weight: 600 !important;
  }

  &__item-tittle-bottom {
      padding-top: rem(60px);
      font-size: rem(18px);
  }

  &__item-tittle-txt-btn {
    color: #fff !important;
    padding-left: rem(5px) !important;
    font-size: rem(18px);
    margin: 0;
    padding: 0;
  }

  &__item-pic {
    border-radius: 1px;
  }
}

// /*********       Hover on Image      *********/


.works-content__list {
display: flex;
flex-wrap: wrap;
justify-content: center;
width: auto;
list-style-type: none;
margin: 0px;
padding: 0px;
}
.works-content__list .works-content__item {
padding: 0px;
position: relative;
overflow: hidden;
}
.works-content__list .works-content__item:hover .works-content__item-tittle {
opacity: 1;
}
.works-content__list .works-content__item-pic {
margin: 0px;
padding: 0px;
float: left;
z-index: 4;
}
.works-content__list .works-content__item-tittle {
cursor: pointer;
position: absolute;
opacity: 0;
-webkit-transition: all 0.45s ease-in-out;
-moz-transition: all 0.45s ease-in-out;
-o-transition: all 0.45s ease-in-out;
-ms-transition: all 0.45s ease-in-out;
transition: all 0.45s ease-in-out;
}
.works-content__list .works-content__item-tittle {
background-color: rgba(0,0,0,0.65);
height: 200px;
width: 321px;
z-index: 5;
position: absolute;
}
.works-content__list .works-content__item-tittle-txt .works-content__item-tittle-top {
text-transform: uppercase;
font-size: 24px;
}
.works-content__list .works-content__item-tittle-txt {
z-index: 10;
color: #fff;
position: absolute;
width: 321px;
height: 200px;
text-align: center;
top: 80px;
}