@media screen and (max-width: 1379px) { //Ipad Pro
	html {
		font-size: 16px;
	}

	.container {
		width: rem(1366px);
	}
	//header 
	.header__tittle {
		height: rem(530px);
	}
	//price 
	.price-content {
		margin-left: -7.5%;
	}
	//form
	.contact-content {
		flex-wrap: wrap;
	}
	.contact-content__right {
		width: rem(1366px);
		padding: rem(100px) 0;
	}
	.contact-content__left-map {
		display: none;
	}
	.contact-content__left-map-mobile {
		display: block;
	}
}


@media screen and (max-width: 1200px) { //hd
	html {
		font-size: 16px;
	}

	.container {
		width: rem(970px);
	}
}

@media screen and (max-width: 1024px) {
	//works
	.works-content__list .works-content__item-tittle {
		opacity: 1;
	}

	//team
	.team {
		min-height: rem(1700px)
	}
	.team-content__list {
		flex-wrap: wrap; 
	}

	.team-content__item {
		padding: rem(50px) 0;
	}
	//contact 
	.contact-content {
		flex-wrap: wrap;
	}
	.contact-content__right {
		padding: rem(100px) 0;
	}
	//price
	.price-content__list {
		flex-wrap: wrap;
		justify-content: center;
	}

	.price-content__item {
		padding-bottom: rem(100px);
	}
	.price-content__item-first {
		margin-bottom: rem(100px);
		order: 1;
	}
	.price-content__item-second {
		order: 3;
	}
	.price-content__item-third {
		order: 2;
	}
	.price-content {
		margin-left: 0;
	}
}

@media screen and (max-width: 992px) { //laptop
	html {
		font-size: rem(15px);
	}

	.container {
		width: rem(750px);
	}
}

@media screen and (max-width: 768px) { //Big tablets
	html {
		font-size: rem(14px);
	}

	.container {
		width: rem(768px);
	}
}
@media screen and (max-width: 650px) { //Small Tablets
	html {
		font-size: rem(14px);
	}

	.container {
		width: rem(480px);
	}
}

@media screen and (max-width: 480px) { //phones
	html {
		font-size: rem(12px);
	}

	.container {
		min-width: rem(320px);
	}
	//header 
	.header__tittle {
		height: rem(607px);
	}
	//services
	.services-content__list {
		flex-wrap: wrap;
	}
	.services-content__item {
		padding-bottom: rem(100px);
	}
	//team
	.team {
		min-height: rem(3200px)
	}
	//price
	.price-content__item {
		padding-bottom: rem(100px);
	}
	.price-content__item-first {
		margin-bottom: rem(250px);
		order: 1;
	}
	.price-content__item-second {
		order: 2;
	}
	.price-content__item-third {
		order: 3;
	}
	//form 

	.contact-content__right-form-name-txt {
		display: none;
	}

	.contact-content__right-form-name-txt-mess-mobile, .contact-content__right-form-name-txt-mobile {
		display: block;
	}
}

@media screen and (max-width: 320px) {
	//header 
	.header__tittle {
		height: rem(530px);
	}
	.container {
		width: 320px;
	}
}

// @media all and (max-width: 1200px) {

// }