//colors
$font-head-style: #e8e8e8;
$font-section-head: #29323c;
$bg-services: #f5f5f5;
$form-style: #f6f6f6;
$border-form: #f2f2f2;
$font-slider: #2b3746;
$font-price-section: #485563;
$society: #525961;
// layout
@import "_misc/mixins"; 
@import "_misc/adjustment";
@import "_misc/normalize"; 

//sections-setting
@import "sections/section";



// styles
@import "sections/header";
@import "sections/services";
@import "sections/works";
@import "sections/clients";
@import "sections/team";
@import "sections/company";
@import "sections/price";
@import "sections/form";
@import "sections/footer";


//plugins
@import "../../node_modules/hamburgers/dist/hamburgers.css";
@import "../../node_modules/jquery.mmenu/dist/jquery.mmenu.all.css";

@import "../../node_modules/owl.carousel/dist/assets/owl.theme.default.min.css";

//media
@import "adaptive/media";